[FORMAT]
# Black will enforce 88 chars on Python code
# this will enforce 120 chars on docs / comments
max-line-length=120

# Disable various warnings:

disable=

[MASTER]
init-hook='import sys; sys.path.append("src")'