apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-chatops-deployment
  labels:
    app: cloud-chatops
spec:
  replicas: 1

  selector:
    matchLabels:
      app: cloud-chatops

  template:
    metadata:
      labels:
        app: cloud-chatops

    spec:
      containers:
      - name: cloud-chatops
        image: harbor.stfc.ac.uk/stfc-cloud/cloud-chatops:6.0.0
        env:
          - name: HOST_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
        volumeMounts:
        - name: cloud-chatops-config
          mountPath: /usr/src/app/cloud_chatops/config
          readOnly: true
        - name: cloud-chatops-secrets
          mountPath: /usr/src/app/cloud_chatops/secrets
          readOnly: true

      volumes:
      - name: cloud-chatops-config
        configMap:
          name: cloud-chatops-config
          items:
          - key: "config.yml"
            path: "config.yml"
      - name: cloud-chatops-secrets
        secret:
          secretName: cloud-chatops-secrets


